# Token bota z https://discord.com/developers/applications
DISCORD_TOKEN=
# Application ID (General Information -> Application ID)
CLIENT_ID=
# ID serwera, na który rejestrujesz komendy (natychmiastowo). Zostaw puste, aby zarejestrować globalnie.
GUILD_ID=
